<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuanjingkj.stpbe.tmdp.mapper.DeviceMapper">

    <select id="getDevice" resultType="com.zhuanjingkj.stpbe.tmdp.dto.camera.CameraDTO">
        select
        t_camera.camera_id as cameraId,
        t_camera.camera_code as cameraCode,
        t_camera.rtp_push_addr as rtpPushAddr,
        t_camera.camera_type_id as cameraTypeId,
        t_camera.direction as direction,
        t_camera.vehicle_direction as vehicleDirection,
        t_camera.site_id as siteId,
        t_camera.city as city,
        t_site.site_name as siteName,
        t_camera_type.camera_type_name as cameraTypeName
        from
        t_camera,
        t_camera_type,
        t_site
        where
        t_camera.camera_type_id = t_camera_type.camera_type_id
        and
        t_camera.site_id = t_site.site_id
        <if test="cameraTypeId != null">
            and t_camera.camera_type_id = #{cameraTypeId}
        </if>

        <if test="cameraCode != null and cameraCode != ''">
            and t_camera.camera_code = #{cameraCode}
        </if>
    </select>

</mapper>