<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuanjingkj.stpbe.tmdp.mapper.DkTitfMapper">
  <select id="countByTime" resultType="java.lang.Integer">
    select count(*)
    from t_img_va_hptz
    where
    create_time &lt;= #{minTime,jdbcType=TIMESTAMP}
    AND create_time > #{maxTime,jdbcType=TIMESTAMP}
  </select>
</mapper>