<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuanjingkj.stpbe.tmdp.mapper.TrafficViolationMapper">
    <select id="getTrafficViolationTimeFrameNumber" resultType="java.lang.Integer" parameterType="java.lang.String">
        select
        count(*) as trafficViolationNum
        from
        t_traffic_violation
        where
        traffic_violation_time &gt;= #{minDate,jdbcType=TIMESTAMP}
        and
        traffic_violation_time &lt;= #{maxDate,jdbcType=TIMESTAMP}
    </select>

    <select id="getTrafficViolationTypeNumber" resultType="com.zhuanjingkj.stpbe.tmdp.dto.vehiinfo.TrafficViolationStatisticDTO" parameterType="java.lang.String">
        select
        t_traffic_violation_type.violation_type_name as trafficViolationType,
        count(*) as trafficViolationNum
        from
        t_traffic_violation inner join
        t_traffic_violation_type
        on t_traffic_violation.violation_type_id = t_traffic_violation_type.id
        group by t_traffic_violation_type.violation_type_name
        order by trafficViolationNum desc
    </select>


    <select id="getTrafficViolationByTime" resultType="com.zhuanjingkj.stpbe.tmdp.dto.vehiinfo.TrafficViolationDTO" parameterType="java.lang.String">
        SELECT
        t_traffic_violation.id as id,
        t_traffic_violation.location as location,
        t_traffic_violation.vehicle_type as vehicleType,
        t_traffic_violation.vehicle_style as vehicleStyle,
        t_traffic_violation.violation_type_id as violationTypeId,
        t_traffic_violation.traffic_violation_time as trafficViolationTime,
        t_traffic_violation.status as status,
        t_traffic_violation.img_id as imgId,
        t_traffic_violation.vehicle_plate as vehiclePlate,
        t_image.image_url as imgUrl,
        t_traffic_violation_type.violation_type_name as violationTypeName
        FROM
        t_traffic_violation,
        t_traffic_violation_type,
        t_image
        WHERE
        t_traffic_violation.violation_type_id = t_traffic_violation_type.id
        AND
        t_traffic_violation.img_id = t_image.image_id
        order by trafficViolationTime desc
        limit 2
    </select>

    <select id="getTrafficViolation" resultType="com.zhuanjingkj.stpbe.tmdp.dto.vehiinfo.TrafficViolationDTO" parameterType="com.zhuanjingkj.stpbe.data.entity.TrafficViolation">
        SELECT
        t_traffic_violation.id as id,
        t_traffic_violation.location as location,
        t_traffic_violation.vehicle_type_name as vehicleTypeName,
        t_traffic_violation.vehicle_sub_type_name as vehicleSubTypeName,
        t_traffic_violation.violation_type_id as violationTypeId,
        t_traffic_violation.traffic_violation_time as trafficViolationTime,
        t_traffic_violation.vehicle_plate as vehiclePlate,
        t_traffic_violation.is_native as isNative,
        t_traffic_violation_type.violation_type_name as violationTypeName
        FROM
        t_traffic_violation,
        t_traffic_violation_type
        WHERE
        t_traffic_violation.violation_type_id = t_traffic_violation_type.id
        <if test="dateMin != null and dateMin != ''">
            and t_traffic_violation.traffic_violation_time &gt;=#{dateMin}
        </if>

        <if test="dateMax != null and dateMax != ''">
            and t_traffic_violation.traffic_violation_time &lt;=#{dateMax}
        </if>

        <if test="isNative != null ">
            and t_traffic_violation.is_native=#{isNative}
        </if>

        <if test="vehicleSubTypeName != null and vehicleSubTypeName != ''">
            and t_traffic_violation.vehicle_sub_type_name=#{vehicleSubTypeName}
        </if>

        <if test="vehicleTypeName != null and vehicleTypeName != ''">
            and t_vehicle_sub_type.vehicle_type_name=#{vehicleTypeName}
        </if>

        <if test="violationTypeName != null and violationTypeName != ''">
            and t_traffic_violation_type.violation_type_name=#{violationTypeName}
        </if>

        <if test="vehiclePlate != null and vehiclePlate != ''">
            and t_traffic_violation.vehicle_plate=#{vehiclePlate}
        </if>

        <if test="location != null and location != ''">
            and t_traffic_violation.location like concat("%",#{location},"%")
        </if>
        order by trafficViolationTime desc

    </select>


    <select id="getTrafficViolationType" resultType="com.zhuanjingkj.stpbe.data.entity.TrafficViolationType">
        select
        id,
        violation_type_name as violationTypeName
        from
        t_traffic_violation_type
    </select>

</mapper>