<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuanjingkj.stpbe.tmdp.mapper.VehicleStatisticMapper">

    <resultMap type="com.zhuanjingkj.stpbe.tmdp.dto.vehiinfo.VehicleDistributionDTO" id="vehicleDistributionMap">
        <id column="id" property="id"/>
        <result column="vehicle_distribution_name" property="vehicleDistributionName"/>
        <result column="vehicle_distribution_percentage" property="vehicleDistributionPercentage"/>
    </resultMap>

    <select id="getVehicleDistribution" resultMap="vehicleDistributionMap">
        select
        id,
        vehicle_distribution_name,
        vehicle_distribution_percentage
        from
        t_vehicle_distribution
    </select>

    <select id="getVehicleType" resultType="com.zhuanjingkj.stpbe.tmdp.dto.vehiinfo.VehicleTypeDTO">
        select
        id,
        vehicle_type_name as vehicleTypeName,
        vehicle_type_percentage as vehicleTypePercentage
        from
        t_vehicle_type
    </select>

    <select id="getTimeFrameNumber" resultType="com.zhuanjingkj.stpbe.tmdp.dto.vehiinfo.TimeFrameNumberDTO" parameterType="java.lang.String">
        select
        id,
        time_frame as timeFrame,
        date as date,
        vehicle_number as vehicleNumber
        from
        t_time_frame_number
        where
        date &gt;= #{minDate,jdbcType=TIMESTAMP}
        and
        date &lt;= #{maxDate,jdbcType=TIMESTAMP}
    </select>

    <select id="getVehicleTypeNumber" resultType="com.zhuanjingkj.stpbe.tmdp.dto.vehiinfo.VehicleTypeNumberDTO">
        select
        id,
        vehicle_type_name as vehicleTypeName,
        time_frame as timeFrame,
        vehicle_number as vehicleNumber
        from
        t_vehicle_type_number
    </select>


    <select id="getVehicleStatisticByStreet" resultType="com.zhuanjingkj.stpbe.tmdp.dto.vehiinfo.VehicleStatisticDTO" parameterType="java.lang.String">
        select
        street_name as streetName,
        sum(passed_number) as passedNumber
        from
        t_vehicle_statistic
        where
        date &gt;= #{minDate,jdbcType=TIMESTAMP}
        and
        date &lt;= #{maxDate,jdbcType=TIMESTAMP}
        group by street_name
        order by passedNumber desc
        limit 10
    </select>

    <select id="getVehicleStatisticByRegion" resultType="com.zhuanjingkj.stpbe.tmdp.dto.vehiinfo.VehicleStatisticDTO" parameterType="java.lang.String">
        select
        region_name as regionName,
        sum(passed_number) as passedNumber
        from
        t_vehicle_statistic
        where
        date &gt;= #{minDate,jdbcType=TIMESTAMP}
        and
        date &lt;= #{maxDate,jdbcType=TIMESTAMP}
        group by region_name
        order by passedNumber desc
    </select>


    <select id="getRegion" resultType="com.zhuanjingkj.stpbe.tmdp.dto.vehiinfo.VehicleStatisticDTO" parameterType="java.lang.String">
        select
        region_name as regionName
        from
        t_region
        where
        t_region.level = #{level}
    </select>

    <select id="getPassedNumber" resultType="java.lang.Integer" parameterType="java.lang.String">
        select
        sum(today_passed_number)
        from
        t_vehicle_passed_number
        where
        date &gt;= #{minDate,jdbcType=TIMESTAMP}
        and
        date &lt;= #{maxDate,jdbcType=TIMESTAMP}
    </select>

    <update id="updateTodayTimeFrame" parameterType="java.lang.String">
        update t_time_frame_number
        <set>
            date=#{date}
        </set>
        where
        id in (1,2,3,4,5,6)
    </update>

    <update id="updateYesterdayTimeFrame" parameterType="java.lang.String">
        update t_time_frame_number
        <set>
            date=#{date}
        </set>
        where
        id in (7,8,9,10,11,12)
    </update>

    <update id="updateRegion" parameterType="java.lang.String">
        update t_vehicle_statistic
        <set>
            date=#{date}
        </set>
    </update>

    <update id="updatePassedNumber" parameterType="java.lang.String">
        update t_vehicle_passed_number
        <set>
            date=#{date}
        </set>
    </update>
</mapper>