<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace ="com.zhuanjingkj.stpbe.common.mapper.DcStMapper">
    <resultMap type ="com.zhuanjingkj.stpbe.data.dto.DcStVAreaDTO"  id ="vareaDTO" >
        <result column="area_name" property="areaName" jdbcType="VARCHAR"/>
        <result column="pcount" property="count" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap type ="com.zhuanjingkj.stpbe.data.dto.DcStVSiteDTO"  id ="siteDTO" >
        <result column="site_name" property="siteName" jdbcType="VARCHAR"/>
        <result column="pcount" property="count" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap type="com.zhuanjingkj.stpbe.data.dto.DcStIlSiteDTO" id="dcStIlSiteDTO">
        <result column="site_name" property="siteName" jdbcType="VARCHAR"/>
        <result column="count" property="count" jdbcType="INTEGER"/>
    </resultMap>

    <select id ="getDeviceCount" resultType ="Integer">
        SELECT COUNT(1)
          FROM t_camera
    </select>

    <select id ="getVehicleControl" resultType ="Integer">
        SELECT COUNT(1)
          FROM t_vehicle_control
    </select>

    <select id ="getIlCount" resultType ="Integer">
        SELECT COUNT(1)
          FROM t_violation
    </select>

    <select id ="getDvCount" resultType ="Integer">
        SELECT COUNT(1)
          FROM t_camera tc
         WHERE tc.`status` = 0
    </select>

    <select id ="getTop5Varea" resultMap ="vareaDTO">
        SELECT ta.area_name, IFNULL(p.`count`, 0) AS pcount
          FROM t_camera tc
     LEFT JOIN
             (
        SELECT camera_id, COUNT(1) AS `count`
          FROM t_itf_vehicle tif
         WHERE tif.category =1
      GROUP BY tif.camera_id) p
            ON tc.camera_id = p.camera_id
     LEFT JOIN t_site ts
            ON ts.site_id = tc.site_id
     LEFT JOIN t_area ta
            ON ta.area_id = ts.area_id
      ORDER BY p.`count` DESC
         LIMIT 5
    </select>

    <select id ="getTop5VSite" resultMap ="siteDTO">
        SELECT ts.site_name, IFNULL(p.`count`, 0) AS pcount
          FROM t_camera tc
     LEFT JOIN
             (
        SELECT camera_id, COUNT(1) AS `count`
          FROM t_itf_vehicle tif
<!--         WHERE tif.category =1-->
      GROUP BY tif.camera_id
             ) p
            ON tc.camera_id = p.camera_id
     LEFT JOIN t_site ts
            ON ts.site_id = tc.site_id
      ORDER BY p.`count` DESC
         LIMIT 5
    </select>

    <select id ="getWeekVehicle" resultType ="hashmap">
        SELECT SUBSTRING(tiv.occur_time, 1, 10) AS createTime, COUNT(1) as `count`
          FROM t_itf_vehicle tiv
         WHERE tiv.occur_time > #{startTime} AND #{endTime} > tiv.occur_time
      GROUP BY SUBSTRING(tiv.occur_time, 1, 10)
      ORDER BY SUBSTRING(tiv.occur_time, 1, 10) DESC
         LIMIT 7
    </select>

    <select id ="getTodaySt" resultType ="Integer">
        SELECT COUNT(1)
          FROM t_itf_vehicle
         WHERE occur_time
          LIKE CONCAT(#{date}, '%')
    </select>

    <select id ="getWeekSt" resultType ="Integer">
        SELECT COUNT(1)
          FROM t_itf_vehicle tif
         WHERE tif.occur_time >= #{startTime}
           AND #{endTime} >= tif.occur_time
    </select>

    <select id ="getMonthSt" resultType ="Integer">
        SELECT COUNT(1)
          FROM t_itf_vehicle tif
         WHERE tif.occur_time
          LIKE #{month}
    </select>

    <select id ="getDcstVmd" resultType ="hashmap">
        SELECT SUBSTRING(tiv.occur_time, 1, 7) AS createTime, COUNT(1) AS `count`
          FROM t_itf_vehicle tiv
         WHERE SUBSTRING(tiv.occur_time, 1, 4) =#{year}
      GROUP BY SUBSTRING(tiv.occur_time, 1, 7)
      ORDER BY SUBSTRING(tiv.occur_time, 1, 7)
    </select>

    <select id ="getDcstIlTop7Site" resultMap ="dcStIlSiteDTO">
        SELECT ts.site_name, COUNT(1) AS `count`
          FROM t_violation tv
     LEFT JOIN t_camera tc ON tc.camera_id = tv.camera_id
     LEFT JOIN t_site ts ON ts.site_id = tc.site_id
      GROUP BY ts.site_id
      ORDER BY COUNT(1) DESC
         LIMIT 7
    </select>

    <select id ="getSiteInfo" resultType ="hashmap">
        SELECT tc.camera_code, ts.site_name, CONCAT(ts.lng, '|', ts.lat) AS coordinate
          FROM t_camera tc
     LEFT JOIN t_site ts
            ON tc.site_id = ts.site_id
    </select>

    <delete id ="deleteTifData">
        DELETE
          FROM t_itf_vehicle;
    </delete>
</mapper>