<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuanjingkj.stpbe.common.mapper.DkMvtsMapper">
    <resultMap type ="com.zhuanjingkj.stpbe.data.dto.DkMvtsDTO" id ="mvtsDTO">
        <result column="violation_type_name" property="name" jdbcType="VARCHAR"/>
        <result column="count" property="count" jdbcType="INTEGER"/>
    </resultMap>

    <select id ="getMvtss" resultMap ="mvtsDTO">
        SELECT tvt.violation_type_name, tvv.counts
          FROM (
        SELECT tv.wzlx, COUNT(tv.violation_id) AS counts
          FROM t_violation tv
         WHERE tv.create_time LIKE CONCAT(#{date}, '%')
      GROUP BY tv.wzlx) tvv
     LEFT JOIN t_violation_type tvt
            ON tvv.wzlx = tvt.violation_type_code
    </select>
</mapper>