<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuanjingkj.stpbe.common.mapper.DkMvtsMapper">
    <resultMap type ="com.zhuanjingkj.stpbe.data.dto.DkMvtsDTO" id ="mvtsDTO">
        <result column="wzlx" property="name" jdbcType="VARCHAR"/>
        <result column="count" property="count" jdbcType="INTEGER"/>
    </resultMap>

    <select id ="getMvtss" resultMap ="mvtsDTO">
        SELECT tvt.violation_type_name, COUNT(violation_id) AS COUNT
          FROM t_violation tv
     LEFT JOIN t_violation_type tvt
            ON tv.wzlx = tvt.violation_type_code
      GROUP BY tvt.violation_type_name
    </select>
</mapper>