<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuanjingkj.stpbe.common.mapper.KsSvsLtviMapper">

    <resultMap  type="com.zhuanjingkj.stpbe.data.dto.KsSvsLtviDTO" id="ltviDTO">
        <result column="tvis_json_id" property="tvisJsonId" jdbcType="VARCHAR"/>
        <result column="site_name" property="siteName" jdbcType="VARCHAR"/>
        <result column="hphm" property="hphm" jdbcType="VARCHAR"/>
        <result column="clpp" property="clpp" jdbcType="VARCHAR"/>
<!--        <result column="occur_time" property="occurTime" jdbcType="VARCHAR"/>-->
<!--        <result column="image_hash" property="imageHash" jdbcType="VARCHAR"/>-->
        <result column="violation_type_name" property="violationTypeName" jdbcType="VARCHAR"/>
        <result column="tvis_json_tbl" property="tvisJsonTbl" jdbcType="VARCHAR"/>
    </resultMap>

    <select id ="getKsSvsLtvi" resultMap="ltviDTO">
        SELECT tv.tvis_json_id, tv.hphm, tv.clpp, tv.wzlx, tvt.violation_type_name, tsi.site_name, tv.tvis_json_tbl
          FROM t_violation tv
     LEFT JOIN t_special_vehicle_type ts
            ON tv.cllxzfl = ts.vehicle_type_num
     LEFT JOIN t_camera tc
            ON tv.camera_id = tc.camera_id
     LEFT JOIN t_site tsi
            ON tsi.site_id = tc.site_id
     LEFT JOIN t_violation_type tvt
            ON tv.wzlx = tvt.violation_type_code
         WHERE ts.`status` = 1
      ORDER BY tv.create_time DESC
         LIMIT 1
    </select>
</mapper>