<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuanjingkj.stpbe.common.mapper.TnVaMapper">
    <resultMap type="com.zhuanjingkj.stpbe.data.dto.TnVaDeviceDeployDTO" id="tvDTO" >
        <result column="site_id" property="siteId" jdbcType="INTEGER"/>
        <result column="site_name" property="siteName" jdbcType="VARCHAR"/>
        <result column="lng" property="lng" jdbcType="DOUBLE"/>
        <result column="lat" property="lat" jdbcType="DOUBLE"/>
    </resultMap>

    <select id ="getSite" resultMap ="tvDTO">
        SELECT ts.site_id, ts.site_name, ts.lng, ts.lat
          FROM t_site ts
    </select>

    <select id ="getSiteCount" resultType="Integer">
        SELECT COUNT(1)
          FROM t_site ts
    </select>

    <select id ="getDeviceCount" resultType ="hashmap">
        SELECT tc.camera_type_id, tc.`status`, COUNT(1) AS `count`
          FROM t_camera tc
      GROUP BY tc.camera_type_id, tc.`status`
    </select>
</mapper>