<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace ="com.zhuanjingkj.stpbe.common.mapper.TptfMapper">
    <resultMap type="com.zhuanjingkj.stpbe.data.dto.TpTfStDTO" id="tptfStDTO">
        <result column="site_name" property="name" jdbcType="VARCHAR"/>
        <result column="count" property="count" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap type="com.zhuanjingkj.stpbe.data.dto.TpTfSiteDTO" id="tptfSiteDTO" >
        <result column="site_id" property="siteId" jdbcType="INTEGER"/>
        <result column="site_name" property="siteName" jdbcType="VARCHAR"/>
        <result column="lng" property="lng" jdbcType="DOUBLE"/>
        <result column="lat" property="lat" jdbcType="DOUBLE"/>
    </resultMap>

    <select id ="getVehicle4TimeCount" resultType ="Integer">
        SELECT COUNT(1) AS `count`
          FROM t_itf_vehicle tiv
         WHERE tiv.occur_time
          LIKE CONCAT(#{queryTime}, '%')
    </select>

    <select id ="getVehicle4TimeSite" resultMap="tptfStDTO">
        SELECT ts.site_name, COUNT(1) AS `count`
          FROM t_itf_vehicle tiv
     LEFT JOIN t_camera tc ON tc.camera_id = tiv.camera_id
     LEFT JOIN t_site ts ON tc.site_id = ts.site_id
         WHERE tiv.occur_time
          LIKE CONCAT(#{queryTime}, '%')
      GROUP BY ts.site_id
    </select>

    <select id ="getVehicle4TimeMap" resultMap="tptfSiteDTO">
        SELECT ts.site_id, ts.site_name, ts.lng, ts.lat
          FROM t_itf_vehicle tiv
     LEFT JOIN t_camera tc ON tc.camera_id = tiv.camera_id
     LEFT JOIN t_site ts ON tc.site_id = ts.site_id
         WHERE tiv.occur_time
          LIKE CONCAT(#{queryTime}, '%')
      GROUP BY ts.site_id
    </select>
</mapper>