<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuanjingkj.stpbe.common.mapper.TvisJsonMapper">
    <resultMap id="tvisJsonVOMap" type="com.zhuanjingkj.stpbe.data.vo.TvisJsonVO">
        <!-- <id property="tvisJsonId" column="tvis_json_id" javaType="long" jdbcType=""/>
        <result property="imageHash" column="image_has" javaType="string" jdbcType="string" />
        -->
        <id property="tvisJsonId" column="tvis_json_id" />
        <result property="occurTime" column="occur_time" />
        <result property="cameraId" column="camera_id" />
        <result property="streamId" column="stream_id" />
        <result property="pts" column="pts" />
        <result property="imageHash" column="image_hash" />
        <result property="jsonHash" column="json_hash" />
    </resultMap>

    <select id="getLatesTvisJsonTblName" resultType="java.lang.String">
        select table_name from information_schema.tables
        where table_schema='StpDb' and
        table_name like 't_tvis_json_%' order by table_name desc
        limit 0, 1
    </select>

    <select id="getTvisJsonTblNames" resultType="java.lang.String">
        select table_name from information_schema.tables
        where table_schema='StpDb' and
        table_name like 't_tvis_json_%' order by table_name desc
    </select>



    <update id="createTvisJsonTbl">
        CREATE TABLE IF NOT EXISTS ${_parameter} (
        tvis_json_id BIGINT NOT NULL,
        occur_time DATETIME NULL,
        camera_id BIGINT NULL,
        stream_id BIGINT NULL,
        pts BIGINT NULL,
        image_hash VARCHAR(200) NULL,
        json_hash VARCHAR(200) NULL,
        PRIMARY KEY (tvis_json_id))
        ENGINE = InnoDB
    </update>

    <update id="insertTvisJson">
        insert into ${_parameter.tblName}(tvis_json_id, occur_time, camera_id, stream_id, pts, image_hash, json_hash)
        values(#{_parameter.tvisJsonId},
        #{_parameter.occurTime},
        #{_parameter.cameraId},
        #{_parameter.streamId},
        #{_parameter.pts},
        #{_parameter.imageHash},
        #{_parameter.jsonHash}
        );
    </update>

    <!--
    <select id="getLatestStreamFrame" resultMap="tvisJsonVOMap">
        select tvis_json_id, occur_time, camera_id, image_hash,
        json_hash, pts
        from ${tblName} where tvis_json_id=
        (select max(tvis_json_id) from ${tblName} where stream_id=#{streamId})
    </select>
    -->
    <select id="getLatestStreamFrame" resultMap="tvisJsonVOMap">
        select tvis_json_id, occur_time, camera_id, image_hash,
        json_hash, pts
        from ${tblName} where stream_id=#{streamId} order by tvis_json_id,desc limit 150, 1
    </select>

    <select id="getLatestCameraFrame" resultMap="tvisJsonVOMap">
        select tvis_json_id, occur_time, camera_id, image_hash,
        json_hash, pts
        from ${tblName} where tvis_json_id=
        (select max(tvis_json_id) from ${tblName} where camera_id=#{cameraId})
    </select>

    <select id="getPrevStreamFrame" resultMap="tvisJsonVOMap">
        select tvis_json_id, occur_time, camera_id, image_hash,
        json_hash, pts
        from ${tblName} where camera_id=#{cameraId} and tvis_json_id &lt; #{baseTvisJsonId} limit 0, 1
    </select>

    <select id="getNextStreamFrame" resultMap="tvisJsonVOMap">
        select tvis_json_id, occur_time, camera_id, image_hash,
        json_hash, pts
        from ${tblName} where camera_id=#{cameraId} and tvis_json_id > #{baseTvisJsonId} limit 0, 1
    </select>

    <select id="getFrameByTvisJsonId" resultMap="tvisJsonVOMap">
        select tvis_json_id, occur_time, camera_id, image_hash,
        json_hash, pts
        from ${tblName} where tvis_json_id=#{tvisJsonId}
    </select>

</mapper>