<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuanjingkj.stpbe.common.mapper.TvisJsonMapper">

    <select id="getLatesTvisJsonTblName" resultType="java.lang.String">
        select table_name from information_schema.tables
        where table_schema='StpDb' and
        table_name like 't_tvis_json_%' order by table_name
        limit 0, 1
    </select>

    <update id="createTvisJsonTbl">
        CREATE TABLE IF NOT EXISTS ${tblName} (
        tvis_json_id BIGINT NOT NULL,
        occur_time DATETIME NULL,
        camera_id BIGINT NULL,
        stream_id BIGINT NULL,
        pts BIGINT NULL,
        image_hash VARCHAR(200) NULL,
        json_hash VARCHAR(200) NULL,
        PRIMARY KEY (tvis_json_id))
        ENGINE = InnoDB
    </update>

    <update id="insertTvisJson" parameterType="com.zhuanjingkj.stpbe.data.vo.TvisJsonVO">
        insert into ${tvisJsonVO.tblName}(tvis_json_id, occur_time, camera_id, stream_id, pts, image_hash, json_hash)
        values(#{tvisJsonVO.tvisJsonId},
        #{tvisJsonVO.occurTime},
        #{tvisJsonVO.cameraId},
        #{tvisJsonVO.streamId},
        #{tvisJsonVO.pts},
        #{tvisJsonVO.imageHash},
        #{tvisJsonVO.jsonHash}
        );
    </update>

</mapper>