<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuanjingkj.stpbe.tebs.mapper.CreateMapper">

    <update id="createNewImageTable" parameterType="java.lang.String">
        CREATE TABLE IF NOT EXISTS ${tableName} (
            `image_id` bigint(20) NOT NULL COMMENT '图片ID',
            `image_url` varchar(200) NOT NULL COMMENT '图片url',
            `image_path` varchar(200) NOT NULL COMMENT '图片所存储的位置',
            `upload_time` datetime DEFAULT NULL COMMENT '上传时间',
            `camera_id` bigint(20) NOT NULL COMMENT '摄像头ID',
            `user_id` bigint(20) DEFAULT NULL COMMENT '上传用户ID',
            `lng` double DEFAULT NULL COMMENT '经度',
            `lat` bigint(20) DEFAULT NULL COMMENT '纬度',
            `vehicle_num` int(11) DEFAULT NULL COMMENT '图片中可分辨的车的数量',
            `video_stream_id` bigint(20) DEFAULT NULL COMMENT '视频流ID',
            `image_type` tinyint(4) DEFAULT NULL COMMENT '图片类型 0 图片 1 视频流',
            `detail` json DEFAULT NULL COMMENT '图片详情：将图片的所有信息以json保存',
            `presentation_time_stamp` datetime DEFAULT NULL COMMENT '图片流时间',
            PRIMARY KEY (`image_id`)
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8
    </update>
</mapper>