<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuanjingkj.stpbe.tebs.mapper.SelectMapper">

    <select id="getCamera" resultType="com.zhuanjingkj.stpbe.tebs.dto.CameraDTO" parameterType="java.lang.String">
        select
        camera_id as cameraId,
        camera_code as cameraCode,
        t_site.site_id as siteId,
        site_name as siteName,
        lng,
        lat,
        t_camera.region_id as regionId,
        region_name as regionName
        from
        t_camera,
        t_site,
        t_region
        where
        t_camera.site_id = t_site.site_id
        and
        t_camera.region_id = t_region.id
        and
        t_camera.camera_id = #{cameraId}
    </select>


    <select id="getImage" resultType="java.lang.Long" parameterType="java.lang.String">
        select
        image_id as imageId
        from
        ${tableName}
        where
        uid = #{uid}
    </select>
</mapper>