<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuanjingkj.stpbe.tebs.mapper.SelectMapper">

    <select id="getCamera" resultType="com.zhuanjingkj.stpbe.tebs.dto.CameraDTO" parameterType="java.lang.String">
        select
        camera_id as cameraId,
        camera_code as cameraCode,
        t_site.site_id as siteId,
        site_name as siteName,
        lng,
        lat,
        t_camera.region_id as regionId,
        region_name as regionName
        from
        t_camera,
        t_site,
        t_region
        where
        t_camera.site_id = t_site.site_id
        and
        t_camera.region_id = t_region.id
        and
        t_camera.camera_id = #{cameraId}
    </select>


    <select id="getImage" resultType="java.lang.Long" parameterType="java.lang.String">
        select
        image_id as imageId
        from
        ${tableName}
        where
        uid = #{uid}
    </select>


    <select id="getVehicleDistribution" resultType="com.zhuanjingkj.stpbe.data.entity.VehicleDistribution" parameterType="java.lang.String">
        select
        id,
        vehicle_distribution_name as vehicleDistributionName,
        vehicle_distribution_num as vehicleDistributionNum,
        date
        from
        t_vehicle_distribution
        where
        date = #{date}
    </select>


    <select id="getLicensePlateColor" resultType="com.zhuanjingkj.stpbe.data.entity.LicensePlateColor" >
        select
        id,
        license_plate_color_name as licensePlateColorName,
        license_plate_color_code as licensePlateColorCode
        from
        t_license_plate_color
    </select>

    <select id="getLicensePlateType" resultType="com.zhuanjingkj.stpbe.data.entity.LicensePlateType" >
        select
        id,
        license_plate_type_name as licensePlateTypeName,
        license_plate_type_code as licensePlateTypeCode,
        license_plate_type_describe as licensePlateTypeDescribe
        from
        t_license_plate_type
    </select>

    <select id="getVehicleColor" resultType="com.zhuanjingkj.stpbe.data.entity.VehicleColor" >
        select
        id,
        vehicle_color_name as vehicleColorName,
        vehicle_color_code as vehicleColorCode
        from
        t_vehicle_color
    </select>

    <select id="getVehicleDisplayGoods" resultType="com.zhuanjingkj.stpbe.data.entity.VehicleDisplayGoods" >
        select
        id,
        vehicle_display_goods_name as vehicleDisplayGoodsName,
        vehicle_display_goods_code as vehicleDisplayGoodsCode
        from
        t_vehicle_display_goods
    </select>

    <select id="getVehicleSubType" resultType="com.zhuanjingkj.stpbe.data.entity.VehicleSubType" >
        select
        id,
        vehicle_sub_type_name as vehicleSubTypeName,
        vehicle_sub_type_code as vehicleSubTypeCode
        from
        t_vehicle_sub_type
    </select>

    <select id="getVehicleType" resultType="com.zhuanjingkj.stpbe.data.entity.VehicleType" >
        select
        id,
        vehicle_type_name as vehicleTypeName,
        vehicle_type_code as vehicleTypeCode
        from
        t_vehicle_type
    </select>

    <select id="getVehicleWindowPasteColor" resultType="com.zhuanjingkj.stpbe.data.entity.VehicleWindowPasteColor" >
        select
        id,
        vehicle_window_paste_color_name as vehicleWindowPasteColorName,
        vehicle_window_paste_color_code as vehicleWindowPasteColorCode
        from
        t_vehicle_window_paste_color
    </select>
</mapper>