<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!--    <typeAliases>-->
<!--        <package name="com.yefeng.vehicle.domain.po"/>-->
<!--    </typeAliases>-->
<!--    <mappers>-->
<!--        <mapper resource="mapper/CameraMapper.xml"/>-->
<!--        <mapper resource="mapper/CameraTypeMapper.xml"/>-->
<!--        <mapper resource="mapper/ImageMapper.xml"/>-->
<!--        <mapper resource="mapper/ImgTypeMapper.xml"/>-->
<!--        <mapper resource="mapper/ImgVaCxtzMapper.xml"/>-->
<!--        <mapper resource="mapper/ImgVaHptzMapper.xml"/>-->
<!--        <mapper resource="mapper/ImgVaMapper.xml"/>-->
<!--        <mapper resource="mapper/ImgVaWztzMapper.xml"/>-->
<!--        <mapper resource="mapper/VaCllxflMapper.xml"/>-->
<!--        <mapper resource="mapper/VaCllxzflMapper.xml"/>-->
<!--        <mapper resource="mapper/VaCsysMapper.xml"/>-->
<!--        <mapper resource="mapper/VaHpggMapper.xml"/>-->
<!--        <mapper resource="mapper/VaHpysMapper.xml"/>-->
<!--        <mapper resource="mapper/VaHpzlMapper.xml"/>-->
<!--        <mapper resource="mapper/VaHpztMapper.xml"/>-->
<!--    </mappers>-->
</configuration>